# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env
# dependencies
/node_modules
/.pnp
.pnp.js
.env
# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
csvjson.json
mongoDB_data.js
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/home/gaurav/Documents/Code/JavaScript/nextjs-fullstack-auth/.env
# local env files
.env*.local
.env
# vercel
.vercel
env
test.js
test.js
# typescript
*.tsbuildinfo
next-env.d.ts

